<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.msj.goods.mapper.IntegralRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.msj.goods.entity.IntegralRecord">
        <id column="record_id" property="recordId" />
        <result column="record_name" property="recordName" />
        <result column="record_img" property="recordImg" />
        <result column="dh_integral" property="dhIntegral" />
        <result column="user_name" property="userName" />
        <result column="user_phone" property="userPhone" />
        <result column="sy_integral" property="syIntegral" />
        <result column="dh_create_time" property="dhCreateTime" />
        <result column="sh_time" property="shTime" />
        <result column="status" property="status" />
        <result column="g_id" property="gId" />
        <result column="remark" property="remark" />
        <result column="user_id" property="userId" />
        <result column="dept_id" property="deptId" />
        <result column="dept_name" property="deptName" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        record_id, record_name, record_img, dh_integral, user_name, user_phone, sy_integral,
         dh_create_time, sh_time, status, g_id, remark, user_id, deptId , deptName
    </sql>

    <select id="selectAllCountYDScore" resultType="map">
        SELECT sum(integral_record.dh_integral) as countScore,integral_record.user_id as userId,
        integral_record.user_name  as userName
        FROM integral_record
        where integral_record.status in(0,1) GROUP BY integral_record.user_id
    </select>
</mapper>
