<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.msj.goods.mapper.IntegralDrawMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.msj.goods.entity.IntegralDraw">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="amount" property="amount" />
        <result column="goods_url" property="goodsUrl" />
        <result column="weight" property="weight" />
        <result column="status" property="status" />
        <result column="del_flag" property="delFlag" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, amount, weight,goods_url, status, del_flag, create_by, create_time, update_by, update_time, remark
    </sql>

</mapper>
