<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.msj.goods.mapper.SysPostMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.msj.goods.entity.SysPost">
        <id column="post_id" property="postId" />
        <result column="post_code" property="postCode" />
        <result column="post_name" property="postName" />
        <result column="post_sort" property="postSort" />
        <result column="status" property="status" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="remark" property="remark" />
        <result column="integral" property="integral" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        post_id, post_code, post_name, post_sort, status, create_by, create_time, update_by, update_time, remark, integral
    </sql>

    <!--查询所有职位  -->
    <select id="selectPostList" resultType="map" >
      select sys_post.post_id  AS id,sys_post.post_name AS name  FROM sys_post
    </select>
    <!--  经理 级别 查询所有的职位  -->
    <select id="selectManagerPostList" resultType="map" >
      select  DISTINCT sys_post.post_name as name, sys_post.post_id as id   from sys_post LEFT JOIN sys_user_post
      ON sys_post.post_id = sys_user_post.post_id LEFT JOIN sys_user on sys_user_post.user_id = sys_user.user_id
      where  sys_user.is_approver in (1,3,7,4)
    </select>
    <!--总监 级别 查询所有的职位-->
    <select id="selectDirectorPostList" resultType="map" >
       select  DISTINCT sys_post.post_name as name, sys_post.post_id as id   from sys_post LEFT JOIN sys_user_post
      ON sys_post.post_id = sys_user_post.post_id LEFT JOIN sys_user on sys_user_post.user_id = sys_user.user_id
      where  sys_user.is_approver in (1,3,7,4,6)
    </select>
    <!--     总经理 级别 查询所有的职位  -->
    <select id="selectGeneralManagePostList" resultType="map" >
        select  DISTINCT sys_post.post_name as name, sys_post.post_id as id   from sys_post LEFT JOIN sys_user_post
      ON sys_post.post_id = sys_user_post.post_id LEFT JOIN sys_user on sys_user_post.user_id = sys_user.user_id
      where  sys_user.is_approver in (1,3,7,4,6,5)
    </select>
    <!-- 职能总监 级别 查询所有的职位 -->
    <select id="selectFunctionPostList" resultType="map" >
      select  DISTINCT sys_post.post_name as name, sys_post.post_id as id   from sys_post LEFT JOIN sys_user_post
      ON sys_post.post_id = sys_user_post.post_id LEFT JOIN sys_user on sys_user_post.user_id = sys_user.user_id
      where  sys_user.is_approver in (3,9)
    </select>
</mapper>
